/* for njtsv1.0.1C */
.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
  box-sizing: border-box;
}

.formwrapper {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.input:focus, .textarea:focus {
  border-color: #4caf50;
  outline: none;
}

.popup {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup.error {
  background-color: #f44336;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-size: 0.8rem;
}

.pending {
  background-color: #ddd;
  opacity: .6;
  cursor: not-allowed;
  color: #000;
}

@media (max-width: 600px) {

  .container {
    width: 100%;
    padding: 1rem 2rem;
  }

  .contact_form {
    width: 100%;
  }

  .two_column {
    grid-template-columns: 1fr;
  }

}